body {
	background-color: #fff5d0;
	position: relative;
}

.img-fluid {
  height: 80vh;
}

.jumbotron {
	text-align: center;
	background-color:#fff0b9;
}

#DetailsModal {
	.modal-content {
		background-color: #f4d1b5;
	}
}

footer {
	background-color:#f2f2f2;
}
